__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*

node_modules/
dist/
.vite/

*.db
*.sqlite
*.sqlite3

server/uploads/*
!server/uploads/.gitkeep

player-linux/cache/*
!player-linux/cache/.gitkeep

player-windows/cache/*
!player-windows/cache/.gitkeep
player-windows/build/
player-windows/dist/
player-windows/*.dll
player-windows/*.manifest

.pytest_cache/
.DS_Store
.idea/
.vscode/
*.log
